
body{
	border: 1px;
	margin: 40px;
	padding: 0px;
	width: 0 auto;
	height: 0 auto;
	background-image: url(../pic/b4.jpg);
}

.header{
	border: 1px solid #c41428;
	margin: 5px;
	padding: 5px;
	width: 0 auto;
	height: 0 auto;
}

.navigation{
	border: 1px solid rgba(10, 23, 19, 0);
	margin: 0px;
	padding: 0px;
	width: 0 auto;
	height: 0px;
	background: rgba(15, 17, 18, 0);
}

.content{
	border: 1px solid gray;
	margin: 1px;
	padding: 0px;
	width: 0 auto;
	height: 0 auto;
	
}

.footer{
	border: 1px solid gray;
	margin: 1px;
	padding-top: 1px;
	padding-bottom: 10px;
	width: 0 auto;
	height: 0 auto;
	text-align: center;
	background: lightgray;
}

.errorMsg{
	border: none;
	float: center;
	text-align: center;
	padding: 5px 14px;
	margin-top: 20px;
	font-size: 18px;
	background: red;
	color: red;
}










